<button ngm-button [ngmType]="'primary'" [ngmSize]="'small'">Primary</button>
<button ngm-button [ngmType]="'warning'" [ngmSize]="'small'">Primary</button>
<button ngm-button [ngmType]="'success'" [ngmSize]="'small'">Primary</button>
<button ngm-button [ngmType]="'info'" [ngmSize]="'small'">Primary</button>
<button ngm-button [ngmType]="'danger'" [ngmSize]="'small'">Primary</button>
<p>---</p>
<button ngm-button [ngmType]="'primary'" [ngmSize]="'middle'">Primary</button>
<button ngm-button [ngmType]="'warning'" [ngmSize]="'middle'">Primary</button>
<button ngm-button [ngmType]="'success'" [ngmSize]="'middle'">Primary</button>
<button ngm-button [ngmType]="'info'" [ngmSize]="'middle'">Primary</button>
<button ngm-button [ngmType]="'danger'" [ngmSize]="'middle'">Primary</button>
<p>---</p>
<button ngm-button [ngmType]="'primary'" [ngmSize]="'large'">Primary</button>
<button ngm-button [ngmType]="'warning'" [ngmSize]="'large'">Primary</button>
<button ngm-button [ngmType]="'success'" [ngmSize]="'large'">Primary</button>
<button ngm-button [ngmType]="'info'" [ngmSize]="'large'">Primary</button>
<button ngm-button [ngmType]="'danger'" [ngmSize]="'large'">Primary</button>
<p>---</p>
<ngm-input [ngmSize]="'small'" [ngmPlaceholder]="'small'" [(ngModel)]="smallVal"></ngm-input>
<ngm-input [ngmSize]="'middle'" [ngmPlaceholder]="'middle'"></ngm-input>
<ngm-input [ngmSize]="'large'" [ngmPlaceholder]="'large'"></ngm-input>


